.tableContainer{
    padding: 0px 20px;
    overflow-x: auto;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}
.links-content{
    min-height: 100vh;
    background-color: #282a36;
}
.links-content h3{
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    letter-spacing: 1.5px;
    padding: 20px;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #282a36;
    color: white;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.loginContainer form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: white;
}
.loginContainer form input{
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #282a36;
    border-radius: 5px;
    margin-top: 3px;
    color: white;
}

.loginContainer form button{
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #282a36;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}